<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title></title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <!-- Web Font / @font-face : BEGIN -->
    <!-- NOTE: If web fonts are not required, lines 10 - 27 can be safely removed. -->

    <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
    <!--[if mso]>
    <style>
        * {
            font-family: "Gotham SSm A", "Gotham SSm B", sans-serif !important;
        }
    </style>
    <![endif]-->

    <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
    <!--[if !mso]><!-->
    <!-- insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7214976/7371772/css/fonts.css" />
    <!--<![endif]-->

    <!-- Web Font / @font-face : END -->

    <!-- CSS Reset -->
    <style>

        /* What it does: Remove spaces around the email design added by some email clients. */
        /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }

        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        /* What is does: Centers email on Android 4.4 */
        div[style*="margin: 16px 0"] {
            margin:0 !important;
        }

        /* What it does: Stops Outlook from adding extra spacing to tables. */
        table,
        td {
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }

        /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }
        table table table {
            table-layout: auto;
        }

        /* What it does: Uses a better rendering method when resizing images in IE. */
        img {
            -ms-interpolation-mode:bicubic;
        }

        /* What it does: A work-around for iOS meddling in triggered links. */
        *[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
        }

        /* What it does: A work-around for Gmail meddling in triggered links. */
        .x-gmail-data-detectors,
        .x-gmail-data-detectors *,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
        }


        /* What it does: Prevents underlining the button text in Windows 10 */
        .button-link {
            text-decoration: none !important;
        }

        /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
        /* Create one of these media queries for each additional viewport size you'd like to fix */
        /* Thanks to Eric Lepetit @ericlepetitsf) for help troubleshooting */
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) { /* iPhone 6 and 6+ */
            .email-container {
                min-width: 375px !important;
            }
        }

    </style>

</head>
<body width="100%" bgcolor="#fff" style="margin: 0; text-align: center; mso-line-height-rule: exactly;">
<center style="width: 100%; background: #fff;">
    <div style="max-width: 600px; margin: auto;" class="email-container; text-align: center;">
        <div style="text-align: center; font-family: "Gotham SSm A", "Gotham SSm B", sans-serif !important;">
            <img src="https://lemon.email/images/logo-blue.png" width="400px" alt="Lemon Email" border="0">
        </div>

        <div style="text-align: center; font-family: "Gotham SSm A", "Gotham SSm B", sans-serif !important;">
            <p style="color: #333">You have received a secure email.</p>
            <p style="color: #333">Click on the following link to view this email:</p>
            <%= siteUrl %>/readEmail/<%= secretHash%>
            <p></p>
            <a href="<%= siteUrl %>/readEmail/<%= secretHash%>" style="background: #3f63dd; border: 15px solid #3f63dd; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; font-weight: bold;" class="button-a">
                <span style="color:#ffffff;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;READ SECURE EMAIL&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </a>
        </div>


        <div style="text-align: center; font-family: "Gotham SSm A", "Gotham SSm B", sans-serif !important;">
            <p style="color: #333">To learn more, visit <a href="https://lemon.email">lemon.email</a></p>
        </div>


        <div style="text-align: center; font-family: "Gotham SSm A", "Gotham SSm B", sans-serif !important;">
            <p style="color: #333">
            Lemon Email<br>
            Devana Labs
            </p>
        </div>

    </div>
</center>
</body>
</html>