$font-default: "Gotham SSm A", "Gotham SSm B", sans-serif;
$font-serif: "Hoefler Text A", "Hoefler Text B", serif;

$color-primary: #3f63dd;
$color-secondary:  #1b327e;
$color-subheader: #666;
$content-text-color: #666;

$status-ok: #58BD57;
$status-err: #f4684d;
