$font-default: "Gotham SSm A", "Gotham SSm B", sans-serif;

//$color-primary: #3f63dd;
$color-primary: #432E62;
//$color-secondary:  #1b327e;
$color-secondary:  #1A1D38;
$color-subheader: #666;
$content-text-color: #666;

$status-ok: #58BD57;
$status-err: #f4684d;
