@import '../../vars';

$login-bgcolor: #2c3338;
$login-input-color: #3b4148;
$login-input-wrapper-color: #363b41;
$login-text-color: #606468;

.auth-wrapper {
  h1 {
    color: white;
    font-size: 4.2rem;
    margin: 0 auto;
    font-weight: 700;
    width: 550px;
    line-height: 1.2;
  }

  .regular-text {
    margin: 20px auto 0;
    font-size: 1.8rem;
    color: white;
    width: 550px;
    line-height: 1.7;
    a {
      color: #a5d8de;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.auth-background {

  .form-wrapper {
    //min-height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
  }
}

.auth-form {
  max-width: 600px;
  //height: 33rem;
  margin: 0 auto;
  padding: 0 10px;

  &.unlock {
    height: 22rem;
  }

  .auth-title {
    margin: 0;
  }

  .auth-regular {
    font-size: 1.8rem;
    line-height: 1.23em;
    color: #ffffff;
    margin-top: 30px;
  }

  .auth-warning {
    color: white;
    font-size: 1.4rem;
    line-height: 1.7;
    margin-top: 1rem;
  }

  .auth-email {
    color: #b6d6d2;
  }

  .auth-input {
    width: 285px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    margin: 2.5rem auto 1.5rem;
    padding: 5px 20px;
    font-size: 1.8rem;
    vertical-align: top;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    font-family: $font-default;
    display: inline-block;
    background: transparent;
    border-radius: 2px;
    color: white;

    &.error {
      border-color: $status-err;
    }

    &:focus {
      border-color: white;
    }
  }

  .form-loader {
    color: white;
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2rem;
    vertical-align: top;
    display: flex;
    align-items: center;
    justify-content: center;
    .uil-ring-css{
      height: 3rem;
      width: 3rem;
    }
    .uil-ring-css > div{
      height: 3rem;
      width: 3rem;
      margin-left: 2rem;
      box-shadow: 0 2px 0 0 white;
      top: 0;
      left: 0;
    }
  }

  .icon-holder {
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 1.6rem;

    i {
      color: $login-text-color;
    }
  }

  .auth-button {
    @include button(200px, 50px, 2px, white, #101017);
    margin: 2.5rem auto 1.5rem 15px;
    font-size: 1.6rem;
    transition: background .3s;
  }

  .error-message {
    font-size: 14px;
    color: $status-err;
    max-width: 28rem;
    margin: 15px auto;
  }

  .register {
    display: inline-block;
    float: right;
    color: #c3c3c3;
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: none;

    &:hover {
      color: darken(#c3c3c3, 10);
    }
  }

  .username {
    position: absolute;
    right: 1rem;
    color: $login-text-color;
    top: 1.8rem;
    font-size: 1.3rem;
    z-index: 2;

  }
}

