.page-not-found{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 27rem;
  width: 40rem;
  font-size: 3rem;
  text-align: center;

  img{
    max-width: 30rem;
    margin-bottom: 3rem;
  }

  h1 {
    font-weight: bold;
    color: #333;
  }

  .go-back{
    @include button(42rem, 7rem, 0, $color-primary, white);
    margin-top: 4rem;
    display: inline-block;
    font-weight: bold;
    transition: background .3s;
    max-width: 100%;
    text-decoration: none;
    line-height: 7rem;
    text-transform: uppercase;
  }
}