@import "../vars";

.compose-boxes{
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 66rem;
  vertical-align: bottom;
  z-index: 9999;
  overflow: hidden;

  .compose-box{
    background-color: #fff;
    display: inline-block;
    margin: 0 1rem;
    width: 60rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    vertical-align: bottom;

    &.hidden{
      overflow: hidden;
      height: 4rem;
    }

    .compose-box-title{
      display: inline-block;
      line-height: 40px;
      padding: 0 1rem;
    }

    .compose-box-body {
      border: 1px solid #eee;
    }

    .compose-box-bar{
      background-color: $color-primary;
      height: 4rem;
      color: #fff;
      box-sizing: border-box;
      cursor: pointer;

      .exit{
        float: right;
        font-size: 1.3rem;
        cursor: pointer;
        padding: 1.3rem;
        &:hover{
          color: darken(#fff,30);
        }
      }
    }

    input,textarea{
      margin: 0;
      border: 0;
      border-bottom: 1px solid #eee;
      font-family: inherit;
    }

    textarea{
      resize: none;
      font-size: 1.5rem;
      font-family: $font-default;
    }

    .error {
      margin-left: 3rem;
    }

    input[type=file]{
      margin-left: 3rem;
      height: auto;
      border: 0;
      width: calc(100% - 27rem);
    }

    input{
      height: 4rem;
    }

    button{
      margin: 0 0 1rem 3.5rem;
      &.widen {
        padding-right: 5rem;
        margin: 0 0 1rem 1rem;
      }
      &.disabled {
        pointer-events: none;
        background-color: #555;
      }
    }

    .contact-list-wrapper {
      border: 1px solid #e3e3e3;
      border-top: 0;
      position: absolute;
      width: 59.7rem;
      background: white;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,.3);
      .contact-list {
        display: block;
        padding: 1rem;
        cursor: pointer;
        &:nth-of-type(2n) {
          background-color: #f3f3f3;
        }
        &:hover {
          background-color: #e3e3e3;
        }
      }
    }
  }
}