@import "../vars";

header {
  height: 70px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
  background: rgba($color-secondary, 1);
  overflow: hidden;
  &.open {
    @media screen and (max-width: 860px) {
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
      background: rgba($color-secondary, 1) !important;
      height: auto !important;
      #header-wrapper {
        padding-bottom: 20px;
        .header-link-wrapper {
          display: block;
          float: none;
          .header-link {
            display: block;
          }
        }
      }
    }
  }
  #header-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    @media screen and (max-width: 1280px) {
      padding: 0 40px;
    }

    #header-logo {
      display: inline-block;
      img {
        padding: 23px 0;
        height: 26px;
        transition: padding .3s, opacity .3s;
      }
    }

    .header-link-wrapper {
      float: right;
      @media screen and (max-width: 860px) {
        display: none;
      }
    }
    .header-link {
      line-height: 30px;
      margin: 18px 10px;
      padding: 0 5px;
      display: inline-block;
      font-weight: 300;
      font-size: 1.6rem;
      cursor: pointer;
      user-select: none;
      text-decoration: none !important;
      color: white;
      letter-spacing: -0.02rem;
      opacity: .6;
      //transition: opacity .2s, border .2s;
      transition: margin .3s;
      @media screen and (max-width: 860px) {
        margin: 10px 0;
        padding: 10px;
      }
      &.active {
        opacity: 1;
      }
      &.primary {
        opacity: 1;
      }
      &.mail {
        border: 1px solid;
        border-radius: 16px;
        padding: 2px 20px 0 !important;
      }
      &.username {
        background: $color-primary;
        border-radius: 16px;
        padding: 3px 20px 1px !important;
        opacity: 1;
        font-weight: normal;
      }
      &:hover {
        opacity: 1;
      }
      &:active {
      }
    }
    .header-separator {
      border-left: 1px solid white;
      opacity: .1;
      margin: 24px 10px;
      height: 48px;
      display: inline-block;
      vertical-align: top;
      @media screen and (max-width: 860px){
        width: 100%;
        height: 0;
        margin: 0;
        border-top: 1px solid white;
        vertical-align: middle;
      }
    }
    .header-menu-wrapper {
      display: none;
      float: right;
      height: 50px;
      width: 40px;
      margin: 25px 0;
      text-align: center;
      line-height: 50px;
      font-size: 24px;
      transform: rotate(90deg);
      transition: margin .3s;
      cursor: pointer;
      color: white;
      @media screen and (max-width: 860px) {
        display: inline-block;
      }
    }
  }
  &.full-width {
    #header-wrapper {
      max-width: none;
      padding: 0 40px;

    }
  }
}